[submodule "danthesalmon.com/themes/pixyll"]
       path = new-hugo/themes/pixyll
       url = https://github.com/sa7mon/hugo-theme-pixyll.git
[submodule "themes/pixyll"]
	path = themes/pixyll
	url = git@github.com:sa7mon/hugo-theme-pixyll.git
[submodule "themes/sk3"]
	path = themes/sk3
	url = https://github.com/sa7mon/sk3
