<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main class="{{ .Kind }}">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time class="pub-date" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <h1 class="title">{{ .Title }}</h1>

    {{ if eq .Section "links"}}
    {{ partial "linkterms.html" . }}
    {{ else }}
      {{ .Store.Set "tagTerm" (cond (eq .Section "links") "link_tags" "tags") }}
      {{ partial "tags.html" . }}
    {{ end }}

  {{ .Content }}

  {{ if eq .Section "links" }}
    {{ if ne .Params.pub_date nil }}
      <div class="">Link content published {{ time.Format "Jan 02, 2006" .Params.pub_date }}</div>
    {{ end }}
  {{ end }}
  </main>
</body>
</html>